<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Fundamentos</title>
</head>
<body>
<div id="app">
    <div>
        <input type="text" v-model="novoItem" @keyup.enter="saveItem"/>
        <button @click="saveItem()">Adicionar</button>
    </div>
    <h1>Lista de elementos</h1>
    <h2>{{header}}</h2>

    <ul v-for="item in items">
        <li > {{item}}</li>
    </ul>
</div>

<script src="https://unpkg.com/vue@2.7.16/dist/vue.js"></script>
<script>
    var instanciaVue= new Vue({
        el: "#app",
        data: {
            header: 'Digite um texto',
            novoItem:undefined,
            items: [
                "10 caixas de leite",
                "2 jogos",
                "20 copos"
            ]
        },
        methods:{
            saveItem: function (){
                this.items.push(this.novoItem)
            }
        }
    });
</script>

</body>
</html>